name: Integration tests
on:
  pull_request: {}
  push:
    paths-ignore:
    - '*.md'
    - '**/*.md'
    branches:
    - master
jobs:
  kind_integration_tests:
    name: KinD integration tests
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout code
      # actions/checkout@v2
      uses: actions/checkout@722adc6
    - name: Setup KinD
      # engineerd/setup-kind@v0.4.0
      uses: engineerd/setup-kind@4e17476
      with:
        version: v0.8.1
    - name: Docker build
      run: |
        docker build -t gcr.io/linkerd-io/proxy-init:latest .
        docker build -t buoyantio/iptables-tester:v1 -f integration_test/iptables/Dockerfile-tester ./integration_test
    - name: Load image into the local KinD cluster
      run: |
        kind load docker-image gcr.io/linkerd-io/proxy-init:latest
        kind load docker-image buoyantio/iptables-tester:v1
    - name: Run integration tests
      run: |
        cd integration_test
        SKIP_BUILD_TESTER_IMAGE=1 ./run_tests.sh
  arm64_integration_tests:
    name: ARM64 integration tests
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout code
      # actions/checkout@v2
      uses: actions/checkout@722adc6
    - name: Setup SSH config for Packet
      run: |
        pwd
        echo ~
        mkdir -p ~/.ssh/
        touch ~/.ssh/id && chmod 600 ~/.ssh/id
        echo "${{ secrets.DOCKER_SSH_CONFIG }}"  > ~/.ssh/config
        echo "${{ secrets.DOCKER_PRIVATE_KEY }}" > ~/.ssh/id
        echo "${{ secrets.DOCKER_KNOWN_HOSTS }}" > ~/.ssh/known_hosts
        ssh arm64-linkerd-docker docker version
    - name: Install k3d
      run: curl -s https://raw.githubusercontent.com/rancher/k3d/master/install.sh | TAG=v1.7.0 bash
    - name: Forward Docker socket over SSH
      # Currently k3d does not support remote docker connection using env DOCKER_HOST=ssh://
      # Ref: https://github.com/rancher/k3d/issues/74
      run: |
        ssh -nNTf -L $HOME/docker.sock:/var/run/docker.sock arm64-linkerd-docker
        DOCKER_HOST=unix://$HOME/docker.sock k3d check-tools
    - name: Setup cluster (remote)
      env:
        DOCKER_HOST: unix://$HOME/docker.sock
      run: |
        export CLUSTER_NAME=${{ github.sha }}-${{ github.run_id }}
        k3d create cluster $CLUSTER_NAME --wait 300
        export KUBECONFIG="$(k3d get-kubeconfig --name=$CLUSTER_NAME)"

        # Forward local port to connect to remote server for accessing kubectl
        PORT=kubectl config view --minify | grep server | cut -f 4 -d ":"
        ssh -Nf -L $PORT:127.0.0.1:$PORT arm64-linkerd-docker

        kubectl cluster-info
    - name: Docker build
      env:
        DOCKER_HOST: unix://$HOME/docker.sock
      run: |
        docker build -t gcr.io/linkerd-io/proxy-init:latest .
        docker build -t buoyantio/iptables-tester:v1 -f integration_test/iptables/Dockerfile-tester ./integration_test
    - name: Run integration tests
      run: |
        cd integration_test
        SKIP_BUILD_TESTER_IMAGE=1 ./run_tests.sh
    - name: Cleanup
      env:
        DOCKER_HOST: unix://$HOME/docker.sock
      run: k3d delete cluster $CLUSTER_NAME
